*.pyc
*.ckpt
*.mat
*.pth
*.tar
*.csv
*.pdf
*.eps
*.pptx

/data/*
/analysis/temp/*
/experiment/*
/env/
/vgg16/*
/OLD/
/__pycache__/
/.idea/
/logs/old_logs/*
/outputs/OLD*
/OLD/
/__pycache__/
/.idea/

._.DS_Store
.DS_Store

!data/labels_*.csv